@import "variable.less";

.All_center(){
    max-width:~"@{tamMaxTela}px";
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}




