//maps de cores 
@tamMaxTela:1024;

#cores(){
    fundo:#bb9263;
    fundo_header:#1f285cfd;
    border_page:#000;
    letter_header:#fff;
    fundo_camp:#164b0a;
    border_camp:#041f06;
    p_res:#ccca45;
    letter_button:#00f;
    fund_btniniciar:#0f0;
    fund_btnresert: #ffa500;
    hover_btniniciar:rgb(64, 253, 64);
    hover_btnresert: #fdb633;
    letter_footer:#e6adad;
}

